body {
    background-color: white;
    color: red;
}

.container {
    max-width: min(80ch, 100vw - 4rem);
    margin-inline: auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
}

nav > ul {
    display: flex;
    gap: 1rem;
    list-style: none;
}

img {
    max-width: 100%;
}